@charset "utf-8";
/* CSS Document */

/*text-color*/
.color-blue{color:#09F;}
.color-green{color:green;}
.color-red{color:red;}
.color-yellow{color:yellow;}
.color-pink{color:#F3C;}
.color-white{color:white;}